*{
    margin: 0;
    padding: 0;
}

/* *************** header (all pgs) *************** */

header{
    background-color: #7a592fff;
}

header nav{
    background-color: #7a592fff;
    text-align: center;
}

/* should i make my header a flex block + align everything horizontally? i think so yes */

header nav a{
    color: #e3d6b2ff;
    font-size: 24px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border:1px solid #e3d6b2ff;
    padding-top: 10px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
}

header nav img{
    margin: left;
    width: 100px;
    border: none;
}

#header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left:2%;
    margin-right: 2%;
    align-items: center;
    justify-content: space-between;
    align-content: flex-start;
}

#icon{
    padding-top: 4px;
    margin: left;
}

#menu{
    width: 500px;
    margin: left;
}

header nav a:hover{
    color: #7a592fff;
    background-color: #e3d6b2ff;
}

/* *************** general formatting (all pgs) *************** */

h1{
    color:#092641ff;
    font-family: 'Yeseva One', serif;
    font-size: 30px;
    padding-right: 2%;
}

body{
    background-color: #e3d6b2ff;
}

section{
    padding-bottom: 2%;
    margin-left: 3%;
    margin-right: 3%;
}

p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    line-height: 1.3;
    padding-bottom: 5px;
}

/* *************** footer (all pgs) *************** */

footer{
    background-color: #7a592fff;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
}

footer a{    
    color: #e3d6b2ff;
    font-family: 'Yeseva One', serif;
    font-size: 12px;
    text-decoration: none;
}

/* *************** home pg *************** */
#bio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    align-items:flex-end;
    justify-content: flex-start;
    column-gap: 3%;
    padding-top: 20px;
    min-width: 80%;
}

/*#portrait{
    margin-left:3%;
}*/

#about{
    width: 500px;
    /* margin-left:3%; */
    min-width: 350px;
}

/* make the inspo page into column image grid thing?
*/

/* *************** top 5s page *************** */
h2{
    font-family: 'Yeseva One', serif;
    font-size: 20px;
    color:#092641ff;
    padding-bottom: 8px;
}

li{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    line-height: 1.3;
    list-style-position: inside;
}

dd{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    line-height: 1.3;
    text-align: center;
}

.notindex{
    padding-top: 15px;
    text-align: center;
}

#lists{
    /* background-color: blue; */
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 50px;
    margin-bottom: 40px;
    min-width: 100%;
    justify-content: center;
}

#ordered{
    /* background-color: pink; */
    border: 8px double #092641ff;
    margin: 8px;
    padding: 15px;
}

#unordered{
    /* background-color: greenyellow; */
    border: 8px double #092641ff;
    margin: 8px;
    padding: 15px;
}

dt img{
    width: 450px;
    border: 5px solid #092641ff;
}

#bobapics{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 50px;
    justify-content: center;
}

#boba1{
    /* background-color: green; */
    padding: 10px;
}

#boba2{
    /* background-color: green; */
    padding: 10px;
}

#boba3{
    /* background-color: green; */
    padding: 10px;
}

#boba4{
    /* background-color: green; */
    padding: 5px;
}

#boba5{
    /* background-color: green; */
    padding: 5px;
}

#bobatitle{
    text-align: center;
}

/* *************** inspo pg *************** */
.person{
    font-family: 'Yeseva One', serif;
    font-size: 20px;
    color:#092641ff;
    padding-bottom: 3px;
}
body section a{
    text-decoration: none;
}

.reasoning{
    width:75%;
}

/* STYLE TOP 5 PG IMGS WITH SIMILAR STYLE AS THIS BELOW */
.inspoimg{
    /* display: inline; */
    width: 300px;
    border: 5px solid #092641ff;
}

.art{
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 5%;
    align-items:center;
    justify-content:center;
}

hr{
    margin-top: 3%;
    margin-bottom: 0.5%;
    border-top: 2px solid #092641ff;
}

#inspopgspanbody{
    padding-left: 5%;
    padding-right: 5%;
}

#headerinspopg{
    padding-bottom: 3%
}