*{
    margin: 0;
    padding: 0;
}

/* *************** header (all pgs) *************** */

header{
    background-color: #7a592fff;
}

header nav{
    background-color: #7a592fff;
    text-align: center;
}

header nav a{
    color: #e3d6b2ff;
    font-size: 24px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border:1px solid #e3d6b2ff;
    padding-top: 10px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
}

header nav img{
    margin: left;
    width: 100px;
    border: none;
}

#header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left:2%;
    margin-right: 2%;
    align-items: center;
    justify-content: space-between;
    align-content: flex-start;
}

#icon{
    padding-top: 4px;
    margin: left;
}

#menu{
    width: 500px;
    margin: left;
}

header nav a:hover{
    color: #7a592fff;
    background-color: #e3d6b2ff;
}

/* *************** general formatting (all pgs) *************** */

h1{
    color:#092641ff;
    font-family: 'Yeseva One', serif;
    font-size: 30px;
    padding-right: 2%;
}

body{
    background-color: #e3d6b2ff;
}

section{
    padding-bottom: 2%;
    margin-left: 3%;
    margin-right: 3%;
}

p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    line-height: 1.3;
    padding-bottom: 5px;
    color: #092641ff;
}

hr{
    margin-top: 3%;
    border-top: 2px solid #092641ff;
}

/* *************** footer (all pgs) *************** */

footer{
    background-color: #7a592fff;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
}

footer a{    
    color: #e3d6b2ff;
    font-family: 'Yeseva One', serif;
    font-size: 12px;
    text-decoration: none;
}

/* *************** home pg *************** */
#bio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    align-items:flex-start;
    justify-content: center;
    column-gap: 3%;
    padding-top: 3%;
    min-width: 80%;
}

#about{
    width: 500px;
    min-width: 350px;
}

#para{
    padding-bottom: 3%;
}

#portrait{
    border: 5px solid #092641ff;
}

#imgportrait{
    margin-top: 0.75%;
}

#biolink{
    text-decoration: underline;
    color:#092641ff;
}
/* *************** top 5s page *************** */
h2{
    font-family: 'Yeseva One', serif;
    font-size: 20px;
    color:#092743;
    padding-bottom: 1.5%;
    padding-top: 2%;
    text-align: center;
}

li{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    line-height: 1.3;
    list-style-position: inside;
    list-style: none;
    width: 100%;
    text-align: center;
}

li a{
    text-decoration: none;
    color:#092743;
}

dd{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    line-height: 1.3;
}

dd a{
    color:#092743;
    text-decoration: none;
}

.notindex{
    padding-top: 3%;
    text-align: center;
}

#unordered{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    column-gap: 3%;
    justify-content: flex-start;
    overflow-x: auto;
}

#ordered{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    column-gap: 3%;
    justify-content: flex-start;
    overflow-x: auto;
}


dt img{
    width: 200px;
    border: 5px solid #092641ff;
}

li img{
    border: 5px solid #092641ff;
}

#bobapics{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    column-gap: 6%;
    justify-content: flex-start;
    overflow-x: auto;
}

#boba1{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

#boba2{
    padding: 10px;
}

#boba3{
    padding: 10px;
}

#boba4{
    padding: 5px;
}

#boba5{
    padding: 5px;
}

#bobatitle{
    text-align: center;
}

#likes{
    text-align: center;
    font-size: 10;
    font-weight: 350;
    color:#092641ff;
    padding-top: 0.5%;
}

/* *************** inspo pg *************** */
.person{
    font-family: 'Yeseva One', serif;
    font-size: 20px;
    color:#092641ff;
    padding-bottom: 3%;
    text-align: center;
    padding-top: 4%;
}
body section a{
    text-decoration: none;
}

.inspoimg{
    width: 300px;
    border: 5px solid #092641ff;
}

.art{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items:center;
    padding-top: 3%;
}

#inspopgspanbody{
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 4%;
    justify-content: center;
    overflow-x: auto;
}

#hom{
    width:25%;
    padding: 1%;
    min-width: 350px;
    margin-bottom: 0.5%;
}

#ban{
    width:25%;
    padding: 1%;
    min-width: 350px;
    margin-bottom: 0.5%;
}

#sagmeister{
    width: 25%;
    padding: 1%;
\    min-width: 350px;
    margin-bottom: 0.5%;
}

#headerinspopg{
    padding-bottom: 1%
}

.caption{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    line-height: 1.3;
    padding-bottom: 5px;
    color: #092641ff;
    text-decoration: none;
}

.reasoning{
    padding-left: 6%;
    padding-right: 6%;
}